/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
}

* {
    font-family: Poppins, Open Sans, sans-serif;
}

:root {
    --Card-mainHeader: 1.5em;
    --modalCard-mainHeader: 2em;
    --modalCard-subHeader: 0.8em;
    --modalCard-content: 1.2em;
    --mainRed: #ff0000;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainBeige: #F6F3EF;
    --mainDarkGray: #9e9e9e;
    --mainGold: #FFD700;
    --mainPurple: #3f51b5;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;

}

.links:hover {
    cursor: pointer !important;
    color: var(--mainRed);
    transition: 0.3s;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    align-content: center;
}